.gameDisplay {
    position: absolute;
    height: 600px;
    width: 800px;
    top: calc(50vh - 300px);
    left: calc(50vw - 400px);
    font-family: Caveat Brush;
    font-size: 1rem;
    flex-shrink: 1;
    background: linear-gradient(45deg,
    #550E1B   ,  #D26121,   #FFE500 );
    border-radius: 15px;  
    border: 3px outset; 
    display:grid;      
    grid-template-rows: 30% 70%;     
  
    p {
      font-size: 2.5rem;
    }
  }
  //For super big screen
  @media (min-width:1920px){
    .gameDisplay {
      left: calc(960px - 400px);
    }
  }
  
  @media (max-width:820px) {
    .gameDisplay {
      width: 600px;
      left: calc(50vw - 300px);
    }
  }
  
  @media (max-width:600px) {
    .gameDisplay {
      left: calc(50vw - 45%);
      width: 90%;
    }
  }
  
  @media (max-width:375px) {
    .gameDisplay {
      left:0;
      width: 100%;
      height:70vh;
      top:15vh;
    }
  }