.resultSection {
    position: absolute;
    height: 200px;
    width: 500px;
    top: calc(50vh - 100px);
    left: calc(50vw - 250px);
    background-color:#8DAA91;
    border-radius: 20px;
    border:2px outset;
    font-family: 'Press Start 2P', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    z-index: 1;
  
    p {
      margin: 0.5rem;
    }
  
    a {
      margin-top: 20px;
      width: 100%;
      height: 40px;
      display:flex;
      justify-content: center;
     }
  
    .resultUserName, span {
      color:#d26121;
    }
  
    .quitButton {
      align-self: center;
      border-radius: 5px;
      background-color:lightgray;
      width: 400px;
  
      &:hover {
        color: #F8F4A6;
        cursor: pointer;
      }
    
      &:active {
        color: #550e1b;
      }
    }
  }
  
  //For super big screen
  @media (min-width:1920px){
    .resultSection {
      left: calc(960px - 250px);
    }
  }
  
  @media(max-width: 500px) {
    .resultSection {
      width: 90%;
      left: calc(50vw - 45%);
      font-size:1rem;
   
      .quitButton {
        font-size:0.8rem;
        width: 240px;
      }
    }
  }
  
  